.container{
    width: 300px;
    height: auto;
    padding: 40px 30px;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}